@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  background-color: #f9f5f4;
}
h1 {
  font-family: 'header';
}

@layer base {
  @font-face {
    font-family: Days One;
    font-weight: 400;
    src: url(/assets/fonts/days-one-v10-latin-regular.woff) format('woff');
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-primary text-white font-semibold rounded-lg shadow-md hover:bg-primary focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
